<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ydisk_skillbox.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1791CD842D63BF2600186CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1791CD942D63BF2800186CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1791CD9E2D63BF2800186CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
